<form #myRegForm="ngForm" (ngSubmit)=processForm(myRegForm)>
  <mat-card>
      <div fxLayout="column" fxLayoutGap="15px">
          <h4>Please help to key in your details accurately to help us serve you better.</h4>
          <mat-form-field>
              <input matInput name="email" placeholder="Email" required email ngModel>
              <mat-error>
                  Please enter valid email address (eg.john@gmail.com)
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput name="password" placeholder="Password" minlength=8 pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" required password ngModel>
              <mat-error>
                Please enter a valid password
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput name="name" placeholder="Name" ngModel required>
              <mat-error>
                Please enter your name
              </mat-error>
          </mat-form-field>
          <label>Gender:</label>
            <mat-radio-group name="gender" ngModel required fxLayoutGap="25px">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
                <input matInput [min]="minDate" [max]="todaysDate" [matDatepicker]="datepicker" placeholder="Date Of Birth" ngModel name="birthDate" required>
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
              <input matInput name="address" placeholder="Address" ngModel required>
              <mat-error>
                Please enter your address
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput name="country" placeholder="Country" ngModel required>
              <mat-error>
                Please enter the country you are residing in
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput name="contact" placeholder="Contact Number" minlength=7 pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$" ngModel required>
              <mat-error>
                Please enter a valid contact number
              </mat-error>
          </mat-form-field>
      </div>
      <div fxLayoutAlign="end" fxLayoutGap="10px">
        <button mat-raised-button color="accent" type="reset">
            <mat-icon>clear</mat-icon>
            <span>Clear</span>
        </button>
        <button mat-raised-button color="accent" type="submit" [disabled]="myRegForm.invalid">
          <mat-icon>add_box</mat-icon>
          <span>Add</span>
        </button>
      </div>
  </mat-card>


</form>
